<nav class="navbar navbar-expand-lg">
 
  <img src="../../../assets/images/logo.png">
  
    
      <div class="navbar-collapse nav-item dropdown" >
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hi, Username</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">EDIT PROFILE</a>
            <a href="#" class="dropdown-item">LOGOUT</a>
        </div>
      </div>



      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse"  style="display:inline">
          
        <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../../assets/images/datasets.png">&nbsp;DATASETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/images/analytics.png">&nbsp;ANALYTICS PORTAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/images/ds.png">&nbsp;DATASCIENCE NOTEBOOK</a>
          </li>
          <li class="nav-item dropdown">
              <div class="dropdown show">
                  <a class="nav-item nav-link dropdown-toggle mr-md-2" id="dropdownMenuLink" data-toggle="dropdown">
                      <img src="../../../assets/images/ml.png">&nbsp;ML PIPELINE
                  </a>
                  <div class="dropdown-menu"sss>
                    <a class="dropdown-item" href="#">EDIT PROFILE</a>
                    <a class="dropdown-item" href="#">LOGOUT</a>
                  </div>
                </div> 
        </ul>
       
      </div>
  
</nav>