<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" routerLink="#"><img src="../../../assets/images/logo.png"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav">
            <li class="nav-item dropdown">
                <div class="dropdown show">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <img src="../../../assets/images/pf.png">&nbsp;Hi, Username
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">EDIT PROFILE</a>
                      <a class="dropdown-item" href="#">LOGOUT</a>
                    </div>
                  </div> 
          </ul>
    </div>    


    <ul class="nav justify-content-end">
      <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../../assets/images/datasets.png">&nbsp;DATASETS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/images/analytics.png">&nbsp;ANALYTICS PORTAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/images/ds.png">&nbsp;DATASCIENCE NOTEBOOK</a>
      </li>
      <li class="nav-item dropdown">
          <div class="dropdown show">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../../assets/images/ml.png">&nbsp;ML PIPELINE
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">EDIT PROFILE</a>
                <a class="dropdown-item" href="#">LOGOUT</a>
              </div>
            </div> 
    </ul>
</nav>