.li{
    display: inline;
}

#id{
    width: 121px;
    height: 17px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    /* Text style for "Hello," */
    font-family: "Open Sans";
    font-weight: 400;
}

// .nav-link{
//     display: inline;
// }

.nav-item{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
}

.navbar{
    height: 80px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    background-color: #016272;
}

a { color: #ffffff; }

.div{
    display:flex;
}

.img{
    height: auto;
    width: auto;
    vertical-align: baseline;
}

.dropdown-menu{
    background-color: #f5f5f5;
    left:280px;
}


.dropdown-menu.show{
    // left: auto;
    border-radius: 0px;  
}

.dropdown-item{
    font-family:"Open Sans";
    color: #202d31;
    padding:10px 0px 0px 15px;
}

.textwel{
    color: #f5f5f5;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #016272;
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

[aria-expanded="true"] > .down{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down2{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    vertical-align: top;
}
[aria-expanded="true"] > .down2{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.navimg{
    margin-top: -4px;
    margin-right: 4px;
    vertical-align: middle !important;
}