<nav class="navbar navbar-expand-lg">
 
  <img src="../../../assets/images/logo.png">
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="propic"><img src="../../../assets/images/pf.png"></div>
    <div class="textwel"> Hello, <strong>Username </strong> </div>
      <div class="navbar-collapse nav-item dropdown" >
        <a href="#" class="nav-link dropdown" data-toggle="dropdown"> <img class="arrow" src="../../../assets/images/arrow.png"></a>
        <div class="dropdown-menu" >
            <a href="#" class="dropdown-item" style="padding:10px 0px 0px 15px;"> <img src="../../../assets/images/editpf.png">  EDIT PROFILE</a>
            <a href="#" class="dropdown-item" style="padding:15px 0px 0px 15px;"> <img src="../../../assets/images/logout.png">  LOGOUT</a>
        </div>
      </div>



      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse"  style="display:inline">
          
        <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#"><img src="../../../assets/images/datasets.png">&nbsp;DATASETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/images/analytics.png">&nbsp;ANALYTICS PORTAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../../../assets/images/ds.png">&nbsp;DATASCIENCE NOTEBOOK</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/images/ml.png">&nbsp;ML PIPELINE  <img src="../../../assets/images/arrow.png"></a>
              <div class="dropdown-menu">
                 <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
                 <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
            
        </ul>
       
      </div>
  
</nav>