<footer>
  <div id="footerdiv">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="display:flex;padding-top: 16px;">
            <div id="left" class="col-md-4">
                <p>©2019 BlackThorn Therapeutics. All Rights Reserved.</p>
            </div>
            <div id="ct" class="col-md-4">
                <p style="float:right;">Last Login Date: Mar-13-2019 02:30PM UTC</p>
            </div>
            <div id="ri" class="col-md-4">
                <p style="float:right;"><strong>Privacy Policy | Terms Of Use</strong></p>
            </div>
            </div>
            </div>
      </div>
    </div>
</footer>