#footerdiv{
    height: 68px;
    background-color: #f5f5f5;
}
.p{
    height: 14px;
    color: #202d31;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

#left{
    float:left;
}

#ri{
    float:right;
}

#ct{
    float: center;
}